
@font-face {
    font-family: "titleFont";
    src: url(KGALittleSwag.ttf) format("truetype");
}
p.customfont { 
    font-family: "titleFont", Verdana, Tahoma;
}

@font-face {
    font-family: "bodyFont";
    src: url(HelveticaNeue.dfont) format("truetype");
}
p.customfont { 
    font-family: "bodyFont", Verdana, Tahoma;
}

body{
	background: url('pinstripe.png');
	font-family: "HelveticaNeue";
}

.big{
	text-align: left;
	font-size: 100px;
	height: 100px;
	width: 800px;
	margin-right: auto;
	font-family: "titleFont";
}
