
@font-face {
    font-family: "titleFont";
    src: url(KGALittleSwag.ttf) format("truetype");
}
p.customfont { 
    font-family: "titleFont", Verdana, Tahoma;
}

@font-face {
    font-family: "headerFont";
    src: url(basictitlefont.ttf) format("truetype");
}
p.customfont { 
    font-family: "headerFont", Verdana, Tahoma;
}

body{
	background: url('pinstripe.png');
	font-family: "HelveticaNeue";
}

h1{
	font-family: "headerFont";
}

h2{
	font-family: "headerFont";
}

.big{
	text-align: left;
	font-size: 100px;
	height: 100px;
	width: 800px;
	margin-right: auto;
	font-family: "titleFont";
}

.cards {
    display: table;
}

.card {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display: table-cell;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:150px;
	line-height:20px;
	width:120px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
    margin: 25px;
}

